@using Microsoft.AspNet.Identity
@if (this.User.IsInRole("Admin"))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            @Html.ActionLink("User Management", "UserManagement", "Administration", null, new { @class = "dropdown-item" })
            <div class="dropdown-divider"></div>
            @Html.ActionLink("Data Management", "DataManagement", "Administration", null, new { @class = "dropdown-item" })
            <div class="dropdown-divider"></div>
            <a href="@Url.Action("Index", "RefreshData")" class="dropdown-item">Refresh Data</a>
        </div>
    </li>
}

