@using Microsoft.AspNet.Identity
@if (this.User.IsInRole("Admin"))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="#" class="dropdown-item">User Management</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">Data Management</a>
        </div>
    </li>
}

