@using Microsoft.AspNet.Identity
@using HDA.Core.Utilities
<div class="row" style="padding-top:50px;">
    @if (new PermissionCheck().IsAllowedOnReport("Provider Workload", User.Identity.GetUserId()) == true || this.User.IsInRole("Admin"))
    {
        <div class="col-md-4">
            <div class="card border border-primary " style="min-height:250px;">
                <div class="card-header bg-primary text-white"><i class="fa fa-user-md fa-lg" aria-hidden="true"></i> Provider Workload</div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Report Subtitle</h6>
                    <p class="card-text">Some text to briefly define the report. We could add some data availability information here.</p>
                    <a href="@Url.Action("Workload", "Reports")" class="card-link"><i class="fa fa-line-chart fa-lg"></i> Go to Report</a>
                </div>
            </div>
        </div>
    }
    @if (new PermissionCheck().IsAllowedOnReport("Disease Management", User.Identity.GetUserId()) == true || this.User.IsInRole("Admin"))
    {
        <div class="col-md-4">
            <div class="card border border-primary" style="min-height:250px;">
                <div class="card-header bg-primary text-white"><i class="fa fa-wheelchair fa-lg" aria-hidden="true"></i> Disease Management</div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Report Subtitle</h6>
                    <p class="card-text">Some text to briefly define the report. We could add some data availability information here.</p>
                    <a href="@Url.Action("DiseaseManagement", "Reports")" class="card-link"><i class="fa fa-line-chart fa-lg"></i> Go to Report</a>
                </div>
            </div>
        </div>
    }
    @if (new PermissionCheck().IsAllowedOnReport("Outpatient Prescriptions", User.Identity.GetUserId()) == true || this.User.IsInRole("Admin"))
    {
        <div class="col-md-4">
            <div class="card border border-primary" style="min-height:250px;">
                <div class="card-header bg-primary text-white"><i class="fa fa-users fa-lg" aria-hidden="true"></i> Outpatient Prescriptions</div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Report Subtitle</h6>
                    <p class="card-text">Some text to briefly define the report. We could add some data availability information here.</p>
                    <a href="@Url.Action("OutpatientPrescriptions", "Reports")" class="card-link"><i class="fa fa-line-chart fa-lg"></i> Go to Report</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="row" style="padding-top:50px;">
    @if (new PermissionCheck().IsAllowedOnReport("COVID-19 Situation Analysis", User.Identity.GetUserId()) == true || this.User.IsInRole("Admin"))
    {
        <div class="col-md-4">
            <div class="card border border-primary" style="min-height:250px;">
                <div class="card-header bg-primary text-white"><i class="fa fa-medkit fa-lg" aria-hidden="true"></i> COVID-19 Situation Analysis </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Report Subtitle</h6>
                    <p class="card-text">Some text to briefly define the report. We could add some data availability information here.</p>
                    <a href="@Url.Action("COVID19SituationAnalysis", "Reports")" class="card-link"><i class="fa fa-line-chart fa-lg"></i> Go to Report</a>
                </div>
            </div>
        </div>
    }
</div>