@model IEnumerable<HDA.Core.Models.HDACore.RefreshData.DataRefreshProcedure>
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="row" style="padding-top:50px;">
        <div class="col-md-12">



            <div class="card border border-primary " style="min-height: 100px;">
                <div class="card-header bg-primary text-white">
                    Execute Procedures


                </div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(x => x.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(x => x.ProcedureName)
                        </th>
                    </tr>
                    @foreach (var param in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => param.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(x => param.ProcedureName)
                            </td>
                            <td>
                                <input type="button" id="executeProc" class="btn btn-info" value="Execute Procedure" />
                            </td>

                        </tr>
                    }
                </table>



            </div>
        </div>

    </div>
    <br />
    <div class="progress">
        <div class="col-md-12">
            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
                <span class="sr-only">70% Complete</span>
            </div>
        </div>

    </div>

</div>

@section Scripts {
    <script type="text/javascript">
        $('#executeProc').click(function () {
   
            $.ajax({
                url: '/RefreshData/RunProcedure',
                type: "POST",
                contentType: false, // Not to set any content header  
                processData: false, // Not to process data  
                async: false,
                success: function (result) {
                    if (result != "") {
                        alert("Succefully Executed");
                    }
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });

        });


    </script>
}


