@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <iframe id="covid-iframe" width="100%" height="" src="https://app.powerbi.com/reportEmbed?reportId=89d42224-80f4-4dbd-8a14-6bf55803e3dc&autoAuth=true&ctid=3aaf6705-70a8-4a4a-aaf7-55117754b901&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtZXVyb3BlLWQtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>

@section Scripts {

}
