@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <br />
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center border border-primary">
                <div class="card-header bg-light text-dark">
                    <i class="fa fa-filter fa-lg" aria-hidden="true"></i><b> Filters</b>
                    <i class="fa fa-spinner fa-pulse fa-lg" hidden id="ajaxProgress"></i>
                </div>
                <div class="card-body text-left">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="dropdown">
                                <select id="hospital_types" multiple="multiple" class="hospital_types">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-md-9 col-sm-12">
                                    <input type="text" class="form-control text_hospital" id="TextHospital" placeholder="Select Facility.." disabled="disabled" />
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <div class="form-check">
                                        <input class="form-check-input all_hospitals" type="checkbox" checked="checked" value="" id="allHospitals">
                                        <label class="form-check-label" for="allHospitals">All</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table id="selectedFacilitiesTable" class="table table-sm table-hover">
                                <tbody></tbody>
                            </table>
                        </div>

                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="text" placeholder="Select Provider.." class="form-control" id="TextProvider" disabled="disabled" />
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input " type="checkbox" checked="checked" value="" id="allProviders">
                                        <label class="form-check-label" for="allProviders">All</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="reportrange" class="col-form-label">Performance Period</label>
                            <div id="reportrange" class="rounded report_range" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                <i class="fa fa-calendar"></i>&nbsp;
                                <span></span> <i class="fa fa-caret-down"></i>
                            </div>

                        </div>
                        <div class="form-group col-md-12">
                            <button class="btn btn-primary btn-block" onclick="refreshCharts();"><i class="fa fa-refresh"></i>&nbsp;Load Charts</button>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="card text-center border border-primary">
                <div class="card-header bg-light text-dark">
                    <i class="fa fa-bullseye fa-lg" aria-hidden="true"></i><b> Targets</b>
                </div>
                <div class="card-body text-left">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Beds</h6>
                                </div>
                                <div class="col-md-6">
                                    <h6><b><label id="NumberOfBeds" class="text-primary"></label></b></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <i>Targeting 70% occupancy rates and 3 days average LOS</i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Clinics</h6>
                                </div>
                                <div class="col-md-6">
                                    <h6><b><label id="NumberOfClinics" class="text-primary"></label></b></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <i>Targeting 25 visits daily for clinics operating 3 days a week</i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Operating Rooms</h6>
                                </div>
                                <div class="col-md-6">
                                    <h6><b><label id="NumberOfOperatingRooms" class="text-primary"></label></b></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <i>Targeting 2 operations daily for theatres working 3 days a week</i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <br />
            <div class="card text-center border border-primary">
                <div class="card-header bg-light text-dark">
                    <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i><b> Additional Information</b>
                </div>
                <div class="card-body text-left">
                    <h6 class="card-subtitle mb-2 text-muted">Elements for Interpretation</h6>
                    <p class="card-text">
                        Patient care is the reason to be for a healthcare facility.
                        Understanding the population being served and the services they seek from the point of view of the facility will allow for better planning of resources and services in the different facilities.
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card border border-primary bg-light" id="outPatientDiv">
                        <div class="card-header bg-primary text-white">Outpatient</div>
                        <div class="card-body">
                            <div class="prompt"><i class="fa fa-info-circle fa-lg"></i> <i class="text-black-50">Select a Hospital Type to View this Chart</i></div>
                            <div class="col-md-12 chart" hidden>
                                <div id="outPatientChart"></div>
                                <div>
                                    <div class="form-check col-md-12">
                                        <input class="form-check-input " type="checkbox" value="" id="compareLastYear">
                                        <label class="form-check-label" for="compareLastYear">
                                            Compare with Previous Year
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card border border-primary bg-light inpatient-transfers-card" id="inPatientDiv">
                        <div class="card-header bg-primary text-white">Inpatient</div>
                        <div class="card-body">
                            <div class="prompt" id="inpatientPrompt"><i class="fa fa-info-circle fa-lg"></i> <i class="text-black-50">Select Hospital to View this Chart</i></div>
                            <div class="col-md-12">
                                <div class="chart" id="inPatientChart" hidden></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card border border-primary bg-light" id="surgeriesDiv">
                        <div class="card-header bg-primary text-white">Surgeries</div>
                        <div class="card-body ">
                            <div class="prompt" id="surgeryPrompt"><i class="fa fa-info-circle fa-lg"></i> <i class="text-black-50">Select Hospital to View this Chart</i></div>
                            <div class="col-md-12 ">
                                <div class="chart" id="surgeriesChart" style="height:300px;" hidden></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var facilityTypeId = 0;
        var facilityId = "";
        var providerId = "";

        var inPatientChart;
        var surgeriesChart;
        var showPreviousYear = 0;
        var pInput = document.getElementById("TextProvider");
        var providerAws;
        var outpatientTarget = 0;
        var inPatientTarget = 0;
        var surgeriesTarget = 0;
        var selectedHospitals = [];
        var selectedHospitalsIds = [];


        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        $(document).ajaxStart(function () {
            $('#ajaxProgress').removeAttr('hidden');
        });
        $(document).ajaxStop(function () {
            $('#ajaxProgress').attr('hidden', true);
        });

        $(document).ready(function () {

            getAllowedHealthFacilityTypes();
            providerAws = new Awesomplete(pInput, { minChars: 2, autoFirst: true });


        });

        function SelectFacility() {
            var result = this.value.split("~");
            var healthFacilityName = result[1];
            var healthFacilityId = result[0];
            selectedHospitals.push(healthFacilityId);
            this.value = "";
            facilityId = healthFacilityId;

            //console.log(selectedHospitalsIds);

            //Fill selectedHospitalsIds 
            selectedHospitalTypes.forEach(function (e) {
                selectedHospitalsIds.push(e.HealthFacilityTypeId);
            });


            $('#selectedFacilitiesTable > tbody:last-child').append
                ('<tr><td class="font-weight-bold">' + healthFacilityName + '</td><td><a href="#" onclick="updateTable(this,' + healthFacilityId + ');"><i class="fa fa-trash" ></i></a></td></tr>');
            $('#TextProvider').val('');
            providerId = "";
            $("#allProviders").prop('checked', true);
            $('#TextProvider').attr('disabled', true);


        }

        function updateTable(row, removeId) {
            $(row).parent().parent().remove();
            selectedHospitals.splice($.inArray(removeId, selectedHospitals), 1);
            var t = document.getElementById("selectedFacilitiesTable");
            if (t.rows.length == 0) {
                $("#allHospitals").prop('checked', true);
                $("#allHospitals").change();
            }
        }

        function SelectProvider() {
            var r = this.value.split("~");
            this.value = r[1];
            providerId = r[0];

        }


        function GetProviders() {
            providerAws.destroy();
            pInput.addEventListener('awesomplete-selectcomplete', SelectProvider);
            providerAws = new Awesomplete(pInput, { minChars: 2, autoFirst: true });
            $.ajax({
                url: '../api/Providers/GetProviders',
                type: 'GET',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var providerList = [];
                    for (var i = 0; i < data.length; i++) {
                        providerList.push({ label: data[i]['ProviderName'], value: data[i]['ProviderID'] + '~' + data[i]['ProviderName'] });
                    }
                    providerAws.list = providerList;
                    console.log(providerList);
                }
            });
        }

        $("#allProviders").change(function () {
            if (this.checked) {
                $('#TextProvider').attr('disabled', true);
                $('#TextProvider').val('');
                providerId = "";

            }
            else {
                $('#TextProvider').removeAttr('disabled');
                GetProviders();
            }
        });

        $("#allHospitals").change(function () {
            if (this.checked) {
                $('#TextHospital').attr('disabled', true);
                $('#TextHospital').val('');
                facilityId = "";
                selectedHospitals = [];
                $('#selectedFacilitiesTable').empty();
                $('#selectedFacilitiesTable').append('<tbody></tbody>');
            }
            else {
                $('#TextHospital').removeAttr('disabled');
            }
        });

        $('#compareLastYear').change(function () {
            if (this.checked) {
                showPreviousYear = 1;
            }
            else {
                showPreviousYear = 0;
            }
            GetOutPatientEncounters();
        });

        function GetOutPatientEncounters() {
            var payload = [];
            var a = new Object();
            a.HealthFacilities = selectedHospitals;
            a.HealthFacilityTypes = selectedHospitalTypes;
            payload.push(a);
            payloadJson = JSON.stringify(payload);

            $('#outPatientDiv').removeAttr('hidden');
            $.ajax({
                type: 'POST',
                dataType: 'json',
                data: payloadJson,
                url: '../api/OutPatientEncounters/GetMonthlyTotals/?HealthFacilityID=' + facilityId
                    + '&ProviderID=' + providerId
                    + '&FromDate=' + startDate
                    + '&ToDate=' + endDate
                    + '&PreviousYear=' + showPreviousYear + '',
                contentType: "application/json; charset=utf-8",
            }).done(function (json) {
                //if (json.length > 0) {
                    var chartDataTargets = [];
                    var lastYear = [];
                    var lastYearTargets = [];
                    var series1 = [];
                    for (var i = 0; i < json.length; i++) {

                        series1.push([Date.UTC(json[i]['Year'], json[i]['MonthId'] - 1), json[i]['Total']]);
                        chartDataTargets.push([Date.UTC(json[i]['Year'], json[i]['MonthId'] - 1), parseInt(json[i]['Target'])]);
                        if (showPreviousYear == 1) {
                            lastYear.push([Date.UTC(json[i]['Year'], json[i]['MonthId'] - 1), json[i]['TotalPreviousYear']]);
                            lastYearTargets.push([Date.UTC(json[i]['Year'], json[i]['MonthId'] - 1), parseInt(json[i]['TargetPreviousYear'])]);
                        }
                    }
                    var chart = new Highcharts.chart('outPatientChart', {
                        chart: { type: 'areaspline' },
                        title: { text: '' },
                        subtitle: { text: '' },
                        yAxis: {
                            title: { text: 'Number of Visits' }
                        },
                        xAxis: {
                            type: 'datetime',
                            title: { text: '' }
                        },
                        series: [
                            { name: 'Outpatient Encounters', data: series1 },
                            { name: 'Target', data: chartDataTargets, type: 'line' },
                            //{ name: 'Last Year', data: lastYear },
                            //{ name: 'last-year-targets', data: lastYearTargets, type: 'line' }
                        ],
                        credits: false
                    });

                    if (lastYear.length > 0) {
                        chart.addSeries({
                            name: 'Last Year', data: lastYear
                        });
                    }
                //}
            });

        }

        function GetInPatientEncounters() {
            var payload = [];
            var a = new Object();
            a.HealthFacilities = selectedHospitals;
            a.HealthFacilityTypes = selectedHospitalTypes;
            payload.push(a);
            payloadJson = JSON.stringify(payload);

            $('#inPatientDiv').removeAttr('hidden');
            $('#inpatientProgress').removeAttr('hidden');
            $.ajax({
                type: 'POST',
                dataType: 'json',
                data: payloadJson,
                url: '../api/InPatientEncounters/GetMonthlyTotals/?HealthFacilityID=' + facilityId
                    + '&ProviderID=' + providerId
                    + '&FromDate=' + startDate
                    + '&ToDate=' + endDate,
                contentType: "application/json; charset=utf-8"
            }).done(function (json) {

                var series13 = [];
                var series47 = [];
                var series8Plus = [];
                var seriesNotDischarged = [];
                var targets = []
                for (var i = 0; i < json.length; i++) {
                    series13.push([Date.UTC(json[i]['Year'], json[i]['MonthId'] - 1), json[i]['LOS13Total']]);
                    series47.push([Date.UTC(json[i]['Year'], json[i]['MonthId'] - 1), json[i]['LOS47Total']]);
                    series8Plus.push([Date.UTC(json[i]['Year'], json[i]['MonthId'] - 1), json[i]['LOS8Total']]);
                    seriesNotDischarged.push([Date.UTC(json[i]['Year'], json[i]['MonthId'] - 1), json[i]['LOSNDTotal']]);
                    if (providerId == "") {
                        targets.push([Date.UTC(json[i]['Year'], json[i]['MonthId'] - 1), json[i]['Target']]);
                    }
                }



                //check if selectedHospitalsIds contains id 1 (hospital)
                if (jQuery.inArray("1", selectedHospitalsIds) !== -1) {
                    //remove hint please select hospital 
                    $('#inpatientPrompt').attr('hidden', true);
                    $('.inpatient-transfers-card').css('height', '100%');
                    inPatientChart = new Highcharts.chart('inPatientChart', {
                        chart: { type: 'column' },
                        title: { text: '' },
                        subtitle: { text: '' },
                        xAxis: {
                            type: 'datetime',
                            title: { text: '' }
                        },
                        yAxis: { title: { text: 'Number of Admissions' } },
                        series: [
                            { name: '1-3 days', data: series13 },
                            { name: '4-7 days', data: series47 },
                            { name: '8+ days', data: series8Plus },
                            { name: 'Not Discharged', data: seriesNotDischarged },
                            { name: 'Target', data: targets, type: 'line' }
                        ],
                        plotOptions: { series: { stacking: 'normal' } },
                        credits: false
                    });
                }
                else {
                    // display hint please select hospital
                    if (inPatientChart != undefined) {
                        inPatientChart.destroy();
                    }
                    $('#inpatientPrompt').attr('hidden', false);
                    $('.inpatient-transfers-card').css('height','unset');
                }
            });
        }

        function GetSurgeries() {
            var payload = [];
            var a = new Object();
            a.HealthFacilities = selectedHospitals;
            a.HealthFacilityTypes = selectedHospitalTypes;
            payload.push(a);
            payloadJson = JSON.stringify(payload);

            $('#surgeriesDiv').removeAttr('hidden');
            $.ajax({
                type: 'POST',
                dataType: 'json',
                data: payloadJson,
                url: '../api/Surgeries/GetMonthlyTotalsBySeverity/?HealthFacilityID=' + facilityId
                    + '&ProviderID=' + providerId
                    + '&FromDate=' + startDate
                    + '&ToDate=' + endDate
                    + '&PreviousYear=' + showPreviousYear + '',
                contentType: "application/json; charset=utf-8"
            }).done(function (json) {
                var seriesMinor = [];
                var seriesMajor = [];
                var targets = [];
                for (var i = 0; i < json.length; i++) {
                    seriesMinor.push([Date.UTC(json[i]['Year'], json[i]['MonthId'] - 1), json[i]['MinorSeverityTotal']]);
                    seriesMajor.push([Date.UTC(json[i]['Year'], json[i]['MonthId'] - 1), json[i]['MajorSeverityTotal']]);
                    targets.push([Date.UTC(json[i]['Year'], json[i]['MonthId'] - 1), json[i]['Target']]);
                }

                //check if selectedHospitalsIds contains id 1 (hospital)
                if (jQuery.inArray("1", selectedHospitalsIds) !== -1) {
                    //remove hint please select hospital 
                    $('#surgeryPrompt').attr('hidden', true);

                    surgeriesChart = new Highcharts.chart('surgeriesChart', {
                        chart: { type: 'column' },
                        title: { text: '' },
                        subtitle: { text: '' },
                        xAxis: {
                            type: 'datetime',
                            title: { text: '' }
                        },
                        yAxis: { title: { text: 'Number of Surgeries' } },
                        series: [
                            { name: 'Minor', data: seriesMinor },
                            { name: 'Major', data: seriesMajor },
                            //{ name: 'Target', data: targets, type: 'line' }
                        ],
                        plotOptions: { series: { stacking: 'normal' } },
                        credits: false
                    });
                }
                else {
                    // display hint please select hospital
                    if (surgeriesChart != undefined) {
                        surgeriesChart.destroy();
                    }
                    $('#surgeryPrompt').attr('hidden', false);
                }
            });

        }

        function GetInventory() {
            if (facilityTypeId > 0) {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: '../api/HealthFacilities/GetFacilityInventory/' + facilityId,
                    contentType: "application/json; charset=utf-8"
                }).done(function (json) {
                    $('#NumberOfBeds').text(json['NumberOfBeds']);
                    $('#NumberOfClinics').text(json['NumberOfClinics']);
                    $('#NumberOfOperatingRooms').text(json['NumberOfOperatingRooms']);
                    outpatientTarget = json['NumberOfClinics'] * 25 * 4;
                    inPatientTarget = json['NumberOfBeds'] * 1.7;
                    surgeriesTarget = json['NumberOfOperatingRooms'] * 2 * 3;
                    GetFacilityList(fInput, aws1, facilityTypeId);
                    GetOutPatientEncounters();
                    GetInPatientEncounters();
                    GetSurgeries();
                    GetMonthlyAverage();
                });
            }
        }

        function GetTargets(
            TargetID = null,
            IndicatorID = null,
            HealthFacilityID = null,
            ProviderID = null,
            DomainLookupID = null,
            DirectorateLookupID = null,
            Year = null,
            Month = null
        ) {
            var url = '../api/targets';
            var params = '';
            if (TargetID) { params = params + '&TargetID=' + TargetID; }
            if (IndicatorID) { params = params + '&IndicatorID=' + IndicatorID; }
            if (HealthFacilityID) { params = params + '&HealthFacilityID=' + HealthFacilityID; }
            if (ProviderID) { params = params + '&ProviderID=' + ProviderID; }
            if (DomainLookupID) { params = params + '&DomainLookupID=' + DomainLookupID; }
            if (DirectorateLookupID) { params = params + '&DirectorateLookupID=' + DirectorateLookupID; }
            if (params) { url = url + '?' + params.substr(1); }
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: url,
                contentType: "application/json; charset=utf-8"
            }).done(function (json) {
                return json;
            });
        }

        function refreshCharts() {
            if (selectedHospitalTypes.length > 0) {
                $('.prompt').attr('hidden', true);
                $('.chart').attr('hidden', false);
                GetOutPatientEncounters();
                GetInPatientEncounters();
                GetSurgeries();
            }
            else {
                toastr.warning('At least one hospital type must be selected');
            }
        }
    </script>
}
